.title {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	
}

.nav-wrapper {
	background-color: #ff0000;
}

body {
	background-color: #ffe6e6;
}

.conteudo {
	padding-left: 15px;
	padding-right: 15px;
}

.botoes {
	padding-bottom: 8px;
}